:root{
	--couleur-principale: #92D66B;
	--couleur-secondaire: #6CA546;
	--couleur-red: #FF516D;
	--couleur-jaune: #E1B428;
	--couleur-beige: #FEFFFB;
	--couleur-gris: #222626;
	--marron-fonce: #813A26;
    --marron-clair: #d39582;
	--beige: #FDE4DB;
	
}

body{
    font-family:Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: #6CA546;
}

ul li button {
    margin-left: 20px;
}

li::marker {
    content: "";
}

textarea {
    resize: vertical;
}

.master{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
.login-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    text-align: center;
    border-radius: 5px;
    margin-top: 15vh;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #FEFFFB;
}
.container {
    background-color: #6CA546;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
  }
.suppr-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #FEFFFB;
}
.step {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
	border-radius: 10px;
}
.validation-animation {
    z-index: 3;
    display: flex;
    justify-content: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
}
.ilotValider{
    z-index: 3;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 45px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;

}
.step.active {
    display: block;
    transform: translateX(0);
}
.invalid {
    border: 1px solid red !important;
}
select{
	width: 20vw;
}
h2{
    margin-bottom: 3vh;
}
@media (max-width: 890px) {
	.master{
        flex-direction: column;
        align-items: center;
    }
    .register-container {
        width: 70vw;
        margin-bottom: 3vh;
    }
    .suppr-container {
        width: 70vw;
    }
}

#step1, #step2, #step3,#step4, .modifie {
    background-color: var(--couleur-beige);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

#profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    cursor: pointer;
}

#username, #email, #password, #password2, #nom, #prenom, #adresse, #ville, #codePostal, #tel, #sexe, #pays, #currentPassword, #passwordConfirmation, #dateNaissance, #bio, #interets {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--couleur-secondaire);
    border-radius: 5px;
    box-sizing: border-box;
}

#error-message {
    color: #FF516D;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
    text-align: center;
}


a {
    text-decoration: none;
    color: var(--couleur-gris);
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

a:hover {
    color: var(--couleur-marron-fonce);
}


.next, .prev, .send{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    border: 1px solid #FF516D;
    border-radius: 8px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    color: #FEFFFB;
    background-color: #FF516D;
    z-index: 1;
    text-decoration: none;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    font-family: Montserrat, sans-serif; 
}

.next:after , .prev:after, .send:after{
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #6CA546;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.next:hover, .prev:hover, .send:hover{
    color: #FEFFFB;
    border: 1px solid #6CA546;
}
   
.next:hover:before, .prev:hover:before , .send:hover:before{
    top: -35%;
    background-color: #6CA546;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
   
.next:hover:after, .prev:hover:after, .send:hover:after{
    top: -45%;
    background-color: #6CA546;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.alien{
    color:rgb(34, 28, 155);
}

.alien:hover{
    color:rgb(0, 0, 0);
    text-decoration: underline;
    }

.register-container{
    background-color: #92D66B;
}
