.master{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
.login-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    text-align: center;
    border-radius: 5px;
    margin-top: 15vh;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
}
.register-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
}
.suppr-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
}
.step {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd; 
    margin-bottom: 20px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
}
.validation-animation {
    z-index: 3;
    display: flex;
    justify-content: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
}
.ilotValider{
    z-index: 3;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 45px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;

}
.step.active {
    display: block;
    transform: translateX(0);
}
.invalid {
    border: 1px solid red !important;
}
select{
	width: 20vw;
}
h2{
    margin-bottom: 3vh;
}
@media (max-width: 890px) {
	.master{
        flex-direction: column;
        align-items: center;
    }
    .register-container {
        width: 70vw;
        margin-bottom: 3vh;
    }
    .suppr-container {
        width: 70vw;
    }
}