body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.profile-container {
    width: 800px;
    height: 1000px;
    justify-content: center;
    margin: auto;
    border: #92D66B;
    border-style: solid;
    border-radius: 12px;
    border-width: 8px;
    
}

.profile-top{
    width: 100%;
    height: 40%;
    display: flex;
    border-bottom: #92D66B;
    border-bottom-style: solid;
    border-radius: 12px;
    border-width: 4px;

}

.profile-mid{
    width:100%;
    height:30%;
    bottom:40%;
    padding-left: 10px;
    padding-right: 10px;
}

.profile-bot{
    width:100%;
    height:28.5%;
    bottom:70%;
    display: flex;
    border-top: #92D66B;
    border-top-style: solid;
    border-radius: 12px;
}

.profile-pic{
    width: 40%;
    height:100%;
    border-right: #92D66B;
    border-right-style: solid;
    border-width: 4px;
}

.profile-info {
    right: 40%;
    width: 59%;
    height:99%;
}
.identity{
    width: 101%;
    height:20%;
    border-bottom: #92D66B;
    border-bottom-style: solid;
    border-width: 4px;
}

.info{
    padding-left: 4%;
    width: 99%;
    height:78%;

 
}

.profile-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 15%;
    margin-left: 18%;
}

.contact-button{
    width: 35%;
    height: 10%;
    margin-left: 32%;
    margin-top: 16%;
}





.profile-info h2 {
    margin-top: 0;
    color: #333;
}

.profile-info p {
    margin: 10px 0;
    color: #555;
}

.desc-plant{
    width: 59%;
    height:99%;
    padding-left: 10px;
    padding-right: 10px;
}
.id-plant{
    width: 39%;
    height:97%;
    border-left-color: #92D66B;
    border-left-style: solid;
    border-width: 4px;
}
.nom-plant{
    width: 101%;
    height:20%;
    border-bottom-color: #92D66B;
    border-bottom-style: solid;
    border-width: 4px;
}

.img-plant{
    width: 99%;
    height:78%;
}

h3{
    font-size: 40px;
    text-align: center;
}