body{
    background-color: #FDE4DB;
    margin: 0;
    padding: 0;
    font-family:Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.bar{
    background-color: #FDE4DB;
    top: 0;
    margin: 0;
    padding: 0;
    position: -webkit-sticky;   
    position: sticky;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    z-index: 5;
    transition: 0.3s;
}

.bar :hover{
    color: #FFFFFF;
}

.bar_1{
    display: inline-flex;
    background-color: #FDE4DB;
    top: 0;
    margin-left: 5px;
    padding: 0;
    transition: 0.4s;
}

.bar_3{
    margin-left: 1600px;
    margin-top: 15px;
    position: fixed;
    top: 0;
}

.logo1{
    height: 60px;
    width: 60px;
    padding: 10px;
    transition: 0.3s;
}

.logo1:hover{
    height: 70px;
    width: 70px;
    padding: 10px;
}

.navbar {
    margin-left: 280px;
    margin-top: 15px;
    position: fixed;
    top: 0;
}



.return{
    float: right;
}

.button{
    background-color: #d39582;
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    padding: 12px 24px;
    border: 1px solid #813A26;
    border-radius: 25px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    color: #FFFFFF;
    z-index: 1;
    text-decoration: none;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    font-family: Montserrat, sans-serif; 
}

.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #6CA546;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.button:hover {
    color: #FFFFFF;
    border: 1px solid #6CA546;
}
   
.button:hover:before {
    top: -35%;
    background-color: #6CA546;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
   
.button:hover:after {
    top: -45%;
    background-color: #6CA546;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button_ab{
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    padding: 12px 24px;
    background-color: #E02E52;
    border: 1px solid #222626;
    border-radius: 25px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    color: #222626;
    z-index: 1;
    text-decoration: none;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    font-family: Montserrat, sans-serif; 
}

.button_ab:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #6CA546;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.button_ab:hover {
    color: #FFFFFF;
    border: 1px solid #6CA546;
}
   
.button_ab:hover:before {
    top: -35%;
    background-color: #6CA546;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
   
.button_ab:hover:after {
    top: -45%;
    background-color: #6CA546;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.middle1{
    background-color: #92D66B;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    box-shadow: 2px 2px 7px 7px rgb(0, 0, 0, 0.2);
    height: 2000px;
}

.ff{
    font-family: Montserrat, sans-serif; 
}

.img1{
    width: 100%;
    max-width: 100%; 
    height: auto; 
}

.image-container {
    width: 50%;
    float: left;
}
.image-container img {
    max-width: 100%;
}

.image-container {
    background-color: #FEFFFB;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
}


.titre-mid {
    text-align: center;
    font-family: "Your Preferred Font";
    font-size: 36px;
}
.image-container img {
    width: 200px;
}


.image-grid {
    display: flex;
    justify-content: space-between;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container img {
    margin-bottom: 10px;
}

.image-grid {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%; /* Ajoutez la marge que vous voulez ici */
}

.image-grid {
    display: flex;
    justify-content: center; /* Change from space-between to center */
 /* Add margin to increase space from the edges */
}

.image-container {
    margin: 0 10px; /* Add horizontal margins to decrease space between images */
}

.titredivmid{
    background-color: #FEFFFB; /* Changed from #FEFFFB to #FF516D for rose color */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 15px;
    margin-top: 5%; /* Add 5% space to the top */
    margin-left: 15%; /* Add 10% space to the left */
    margin-right: 15%; /* Add 10% space to the right */
}

.dessousfleur{
    background-color: #6CA546;
    padding-top: 20px; /* Add space to the top */
    padding-bottom: 20px; /* Add space to the bottom */
}

.moderation-section {
    background-color: #92D66B;
    display: flex;
    justify-content: space-between;
    padding-top: 20px; /* Add space to the top */
    padding-bottom: 50px;
}

.titremod{
    text-align: center;
    font-size: 36px;
}

.textemod{
    position: absolute;
    width: 30%; 
    left: 20%; 
    font-size: 22px;
    
}

.image-container2 {
    width: 30%; 
    float: right;
    margin-right: 20%;
}

.image-container2 img {
    max-width: 80%; 
    height: auto;
}



:root {
    --rose: #FF516D;
    --marron-fonce: #813A26;
    --marron-clair: #d39582;
    --vert-clair: #92D66B;
    --vert-fonce: #6CA546;
    --blanc: #FEFFFB;
    --beige: #FDE4DB;
}

