.middle1{
    background-color: #92D66B;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    box-shadow: 2px 2px 7px 7px rgb(0, 0, 0, 0.2);
    height: 2000px;
}

.ff{
    font-family: Montserrat, sans-serif; 
}

.img1{
    width: 100%;
    max-width: 100%; 
    height: auto; 
}

.image-container {
    width: 50%;
    float: left;
}
.image-container img {
    max-width: 100%;
}

.image-container {
    background-color: #FEFFFB;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
}

.titre-mid {
    text-align: center;
    font-family: "Your Preferred Font";
    font-size: 36px;
}
.image-container img {
    width: 200px;
}

.image-grid {
    display: flex;
    justify-content: space-between;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container img {
    margin-bottom: 10px;
}

.image-grid {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.image-grid {
    display: flex;
    justify-content: center;
}

.image-container {
    margin: 0 10px;
}

.titredivmid{
    background-color: #FEFFFB; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 15px;
    margin-top: 5%; 
    margin-left: 15%; 
    margin-right: 15%; 
}

.dessousfleur{
    background-color: #6CA546;
    padding-top: 20px; 
    padding-bottom: 20px; 
}

.moderation-section {
    background-color: #92D66B;
    display: flex;
    justify-content: space-between;
    padding-top: 20px; 
    padding-bottom: 50px;
}

.titremod{
    text-align: center;
    font-size: 36px;
}

.textemod{
    position: absolute;
    width: 30%; 
    left: 20%; 
    font-size: 22px;
    
}

.image-container2 {
    width: 30%; 
    float: right;
    margin-right: 20%;
}

.image-container2 img {
    max-width: 80%; 
    height: auto;
}

:root {
    --rose: #FF516D;
    --marron-fonce: #813A26;
    --marron-clair: #d39582;
    --vert-clair: #92D66B;
    --vert-fonce: #6CA546;
    --blanc: #FEFFFB;
    --beige: #FDE4DB;
}