.filter-bar{
    width: 100%;
    margin:0 auto;
    background-color: #92D66B;
    position: sticky;
    top:0px;
    display: none;
    padding-bottom: 12px;
   
}

.filter-bar.active{
    display: block;
}

.info-general{
    padding-top: 12px;
    margin:auto;
}

input{
    margin-top: 4px;
    margin-bottom: 4px;
}

.unroll-button{
    width: 5%;
    background-color: #92D66B;
    text-align: center;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    margin:auto;
    cursor: pointer;
    position:absolute;
}

header{
    box-shadow: 2px;
    z-index: 9;
}
